<div class="no-separator" style="display:#{display}" x-mojo-touch-feedback="delayed">  
     <div class="palm-row-wrapper newsitem #{extra_class}" name="newsitem" style="border-bottom:1px solid #fff;">  
         <div id="itemTitle" class="title" style="padding:0;">
              <a href="#{href}" onclick="#{onclick}" ondblclick="#{ondblclick}">#{-title}</a>
         </div>  
         <div class="publisher">#{publisher} / #{date}</div>
         <div id="itemTeaser" class="teaser">#{-image}#{-teaser}</div>   
         <div id="moreSources" class="moreSources" style="display:#{more_display}">            
            <div class="moreCorner" style="">&nbsp;</div>
            <div class="moreLabel" id="moreLabel_#{index}" onClick="MainAssistant.prototype.showMoreSources(#{index});return false" style="text-align:center">                 
                 <span id="moreExpandPrefix_#{index}">&#9660;</span><span id="moreCollapsePrefix_#{index}" style="display:none">&#9650;</span>  
                 &#160;&#160;&#160;#{more_label}&#160;&#160;&#160;
                 <span id="moreExpandSuffix_#{index}">&#9660;</span><span id="moreCollapseSuffix_#{index}" style="display:none">&#9650;</span>  
            </div>
            <div style="display:none" class="moreSourcesBox" id="moreSources_#{index}">
               <div class="moreSourcesBoxWrapper">#{-relateds}</div>
            </div>
         </div>        
     </div>  
</div>  