<div id="main" class="main">
				<div class="palm-row topicSelect" x-mojo-tap-highlight="momentary">
					<div class="palm-row-wrapper">
						<div id="topicSelector" x-mojo-element="ListSelector"></div>
					</div>
				</div>
				<div x-mojo-element="Scroller" id="newsScroller" class="newsScroller">
					<div x-mojo-element="Spinner" id="spinner" class="spinner" name="spinner"></div>
					<div id="newsContainer" class="newsContainer">
						<div x-mojo-element="List" id="mainListWgt" ></div>
					</div>
				</div>
</div>
