<div id="main" class="main">
    <div class="palm-row  no-separator topicSelect" x-mojo-tap-highlight="immediate" style="height:51px;margin-bottom:0px;">
        <div class="palm-row-wrapper topicRow" id="topicRow" style="">
            <div class="topicColorBox" id="topicColorBox">&#160;</div>
            <div id="topicSelector" class="topicSelector" x-mojo-element="ListSelector" x-mojo-tap-highlight="immediate" style=""></div>
            <div id="searchCorner" class="searchCorner" x-mojo-touch-feedback="delayed">?</div>
        </div>
    </div>				
    <div x-mojo-element="Spinner" id="spinner_small" class="spinner_small" name="spinner_small"></div>
    <div x-mojo-element="Scroller" id="newsScroller" class="newsScroller" style="clear:both">
        <div x-mojo-element="Spinner" id="spinner" class="spinner" name="spinner"></div>
        <div id="newsContainer" class="newsContainer">
            <div x-mojo-element="List" id="mainListWgt" ></div>
        </div>
    </div>
				
</div>
