<div id="settings-dialog" class="settingsDialog">
  <!--span id="prefs-title" class="palm-dialog-title">Settings</span-->    
  <div class="palm-group">
    <div class="palm-group-title" x-mojo-loc=''>Default Edition</div>
    <div class="palm-list">
       <div class="palm-row no-separator first" x-mojo-tap-highlight="momentary">
          <div class="palm-row-wrapper">
               <div id="defaultEditionSelector" class="defaultEditionSelector" x-mojo-element="ListSelector" x-mojo-tap-highlight="immediate" style=""></div>      
          </div>
       </div>
    </div>
    </div>     
  <div class="palm-group">
    <div class="palm-group-title" x-mojo-loc=''>Topic On Start</div>
    <div class="palm-list">
       <div class="palm-row no-separator first" x-mojo-tap-highlight="momentary">
          <div class="palm-row-wrapper">
               <div id="defaultTopicSelector" class="defaultTopicSelector" x-mojo-element="ListSelector" x-mojo-tap-highlight="immediate" style=""></div>      
          </div>
       </div>
    </div>
    </div>   
    <div class="palm-group"><!-- unlabeled"-->
      <div class="palm-group-title">&#160;</div>
      <div class="palm-list">
       <div class="palm-row first" x-mojo-tap-highlight="momentary">
          <div class="palm-row-wrapper">
              <div x-mojo-element="ToggleButton" id="defaultLoadImages" class="defaultLoadImages" name="defaultLoadImages"></div>
              <div class="prefs-label">Load Images</div>
          </div>
       </div>
       <div class="palm-row">
          <div style="palm-row-wrapper">
              <div x-mojo-element="ToggleButton" id="defaultDblClick" class="defaultDblClick" name="defaultDblClick"></div>
              <div class="prefs-label prefs-double-line">Open Links With Double Tap</div>
          </div>
       </div>
       <div class="palm-row last">
          <div style="palm-row-wrapper">
              <div x-mojo-element="ToggleButton" id="defaultMobilizer" class="defaultMobilizer" name="defaultMobilizer"></div>
              <div class="prefs-label prefs-double-line">Open Links With Google Mobilizer</div>
          </div>
       </div>
    </div>
  </div>  
</div>