<div id="main" class="main">
    <div class="palm-row  no-separator searchInput"  style="">
        <div class="palm-row-wrappers searchRow" id="searchRow" >
            <div class="searchColorBox" id="searchColorBox">&#160;</div>
            <div x-mojo-element="TextField" id="searchField" class="searchField" name="seearchField"></div>
            <div x-mojo-element="Button" id="searchButton" class="searchButton" name="searchButton"></div>               
        </div>
    </div>  
    <div x-mojo-element="Spinner" id="search_spinner_small" class="spinner_small" name="spinner_small"></div>
    <div x-mojo-element="Scroller" id="searchScroller" class="newsScroller" style="clear:both">
        <div x-mojo-element="Spinner" id="search_spinner" class="spinner" name="spinner"></div>
        <div id="searchContainer" class="newsContainer">
            <div x-mojo-element="List" id="searchListWgt" ></div>
        </div>
    </div>
</div>
