<div id="main" class="main">
    <div class="palm-row  no-separator searchInput"  style="">
        <div class="palm-row-wrappers searchRow" id="searchRow" >
            <div class="searchColorBox" id="searchColorBox">&#160;</div>
            <div x-mojo-element="TextField" id="searchField" class="searchField" name="searchField"></div>
            <div id="searchCorner" class="searchCorner" x-mojo-touch-feedback="delayed">
                <img src="./icons/search.png" class="searchIcon" />
            </div>
        </div>
    </div>  
    <div id="searchNoResult" class="searchNoResult" name="searchNoResult">
        - - - - - - - -
    </div>
    <div x-mojo-element="Spinner" id="search_spinner_small" class="spinner_small" name="spinner_small"></div>
    <div class="searchStartIcon" id="searchStartIcon"><img src="./icons/search_start.png" /></div>
    <div x-mojo-element="Scroller" id="searchScroller" class="newsScroller" style="clear:both">
        <div x-mojo-element="Spinner" id="search_spinner" class="spinner" name="spinner"></div>
        <div id="searchContainer" class="newsContainer searchContainer">
            <div x-mojo-element="List" id="searchListWgt" ></div>
        </div>
    </div>
</div>
